Backend-APIs/JEE/tp3/Client/src/META-INF/wsdl/localhost_8080/Server/ScolariteWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.2 (RELEASE-4.0.2-ffda8c0; 2023-01-31T10:50:38+0000) XMLWS-Impl/4.0.1 XMLWS-API/4.0.0 XMLB-Impl/4.0.2 XMLB-API/4.0.0 git-revision#ffda8c0. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.2 (RELEASE-4.0.2-ffda8c0; 2023-01-31T10:50:38+0000) XMLWS-Impl/4.0.1 XMLWS-API/4.0.0 XMLB-Impl/4.0.2 XMLB-API/4.0.0 git-revision#ffda8c0. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="ScolariteWS">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/Server/ScolariteWS?xsd=1"/>
</xsd:schema>
</types>
<message name="removeNote">
<part name="parameters" element="tns:removeNote"/>
</message>
<message name="removeNoteResponse">
<part name="parameters" element="tns:removeNoteResponse"/>
</message>
<message name="addNote">
<part name="parameters" element="tns:addNote"/>
</message>
<message name="addNoteResponse">
<part name="parameters" element="tns:addNoteResponse"/>
</message>
<message name="getNotes">
<part name="parameters" element="tns:getNotes"/>
</message>
<message name="getNotesResponse">
<part name="parameters" element="tns:getNotesResponse"/>
</message>
<portType name="ScolariteWS">
<operation name="removeNote">
<input wsam:Action="http://service/ScolariteWS/removeNoteRequest" message="tns:removeNote"/>
<output wsam:Action="http://service/ScolariteWS/removeNoteResponse" message="tns:removeNoteResponse"/>
</operation>
<operation name="addNote">
<input wsam:Action="http://service/ScolariteWS/addNoteRequest" message="tns:addNote"/>
<output wsam:Action="http://service/ScolariteWS/addNoteResponse" message="tns:addNoteResponse"/>
</operation>
<operation name="getNotes">
<input wsam:Action="http://service/ScolariteWS/getNotesRequest" message="tns:getNotes"/>
<output wsam:Action="http://service/ScolariteWS/getNotesResponse" message="tns:getNotesResponse"/>
</operation>
</portType>
<binding name="ScolariteWSPortBinding" type="tns:ScolariteWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="removeNote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNotes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ScolariteWS">
<port name="ScolariteWSPort" binding="tns:ScolariteWSPortBinding">
<soap:address location="http://localhost:8080/Server/ScolariteWS"/>
</port>
</service>
</definitions>